.jae {
    clear: left;
    margin-top: 1em;
    margin-left: 1em;
}

.solu {
    float: left;
    margin-right: 1em;
}

.solu-sijamuoto-span {
    display: block;
}

.solu-sijamuoto-input {
    margin-top: 20px;
}

.solu-greekWord-label {
    display: block;
}

.solu-suom-input {
    display: block;
}
body{
    background-color: #ffffff;
}

.visible {
    height: 10px;
}

.hidden {
    display: none;
}