.jae {
    clear: left;
    margin-top: 1em;
    margin-left: 1em;
}
.divMain {
    background: white;
    width: 100%;
    padding-bottom: 20%;
}

.solu-sijamuoto-span {
    display: block;
}
.solu {
    float: left;
    margin-right: 1em;
}

.solu-sijamuoto-input {
    margin-top: 20px;
}

.solu-greekWord-label {
    display: block;
}

.solu-suom-input {
    display: block;
}
body{
    background-color: #ffffff;
    padding-top: 5%;
}

.visible {
    height: 10px;
}

.hidden {
    display: none;
}
.divNaviTausta{
    background: white;
    width: 100%;
    position: fixed;
    top: 0; 
    -moz-box-shadow: 10px 10px 5px #ffffff;
    -webkit-box-shadow: 10px 10px 5px #ffffff;
    box-shadow: 10px 10px 5px #ffffff;
}


.divNavi{
    background: #442100;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
    border-radius: 25px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.divNaviDockLeft{
    float: left;
    margin: 0;
    padding: 0;
}

.divNaviDockRight{
    float: right;
    margin-right: 50px;
}

.divSelect{
    padding-top: 30px;
    text-align: center;
}
.alaPalkkiTausta {
    background: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.alaPalkki {
    background: #442100;
    padding: 0;
    margin: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 120px;
    z-index: 20000;
    font-size: 14px;
    color: #000000;
    overflow: hidden;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.alaPalkki:hover {
    background: #442100;
    padding: 0;
    margin: 0;
    height: 330px;
    z-index: 20000;
    font-size: 14px;
    color: #000000;
    overflow: hidden;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.alaPalkki ul {
    padding: 0;
    color: white;
    margin: 0;    
    margin-left: 10px;
    margin-top: 5px;
    list-style: none;
    text-align: center;
}

.alaPalkki dl {

    color: white;
    float: left;
}
.alaPalkki dd {
    padding-left: 15px;
    margin-left: 0px;
}

.alaPalkki li {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.alaPalkki h1 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.lataaIframe_visible {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 800px;
    height: 300px;
    background: white;
    border: 2px solid #000000;
    border-radius: 50px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}


.lataaIframe_visible label {
    margin-top: 100px;
    margin-left: 50px;
}

.lataaIframe_visible textarea {
    width: 90%;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
}

.lataaIframe_visible input {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 90%;
}


.lataaIframe_hidden {
    display: none;
}